--
-- PostgreSQL database dump
--

\restrict dwpyH1ZlRpTdoOnZ5dHCS3cAKTXYjz6ARCtvhRerqWE3FeU222745PkbEIAqquy

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: CommentTargetType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CommentTargetType" AS ENUM (
    'EVENT',
    'QUEST',
    'GUILD',
    'GUILD_QUEST',
    'TAVERN'
);


ALTER TYPE public."CommentTargetType" OWNER TO postgres;

--
-- Name: FriendStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."FriendStatus" AS ENUM (
    'PENDING',
    'ACCEPTED',
    'BLOCKED'
);


ALTER TYPE public."FriendStatus" OWNER TO postgres;

--
-- Name: GuildMemberRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."GuildMemberRole" AS ENUM (
    'LEADER',
    'MEMBER'
);


ALTER TYPE public."GuildMemberRole" OWNER TO postgres;

--
-- Name: GuildQuestStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."GuildQuestStatus" AS ENUM (
    'DRAFTING',
    'ACTIVE',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public."GuildQuestStatus" OWNER TO postgres;

--
-- Name: GuildQuestType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."GuildQuestType" AS ENUM (
    'SUMMATIVE',
    'CONCURRENT',
    'STREAK'
);


ALTER TYPE public."GuildQuestType" OWNER TO postgres;

--
-- Name: ItemType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ItemType" AS ENUM (
    'BADGE',
    'AVATAR',
    'BOOST',
    'COSMETIC'
);


ALTER TYPE public."ItemType" OWNER TO postgres;

--
-- Name: OwnerType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OwnerType" AS ENUM (
    'USER',
    'GUILD'
);


ALTER TYPE public."OwnerType" OWNER TO postgres;

--
-- Name: PersonalQuestStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PersonalQuestStatus" AS ENUM (
    'ACTIVE',
    'COMPLETED',
    'FAILED'
);


ALTER TYPE public."PersonalQuestStatus" OWNER TO postgres;

--
-- Name: QuestCategory; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."QuestCategory" AS ENUM (
    'FITNESS',
    'EDUCATION',
    'CREATIVITY',
    'WELLNESS',
    'OTHER'
);


ALTER TYPE public."QuestCategory" OWNER TO postgres;

--
-- Name: QuestDifficulty; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."QuestDifficulty" AS ENUM (
    'EASY',
    'MEDIUM',
    'HARD'
);


ALTER TYPE public."QuestDifficulty" OWNER TO postgres;

--
-- Name: QuestFrequency; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."QuestFrequency" AS ENUM (
    'DAILY',
    'WEEKLY',
    'CUSTOM'
);


ALTER TYPE public."QuestFrequency" OWNER TO postgres;

--
-- Name: QuestProofRequired; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."QuestProofRequired" AS ENUM (
    'NONE',
    'IMAGE',
    'TEXT'
);


ALTER TYPE public."QuestProofRequired" OWNER TO postgres;

--
-- Name: QuestRating; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."QuestRating" AS ENUM (
    'ENERGIZED',
    'OKAY',
    'SLOG'
);


ALTER TYPE public."QuestRating" OWNER TO postgres;

--
-- Name: QuestTrackingType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."QuestTrackingType" AS ENUM (
    'BINARY',
    'NUMERIC',
    'TIMER'
);


ALTER TYPE public."QuestTrackingType" OWNER TO postgres;

--
-- Name: QuestType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."QuestType" AS ENUM (
    'PERSONAL',
    'GUILD',
    'PUBLIC'
);


ALTER TYPE public."QuestType" OWNER TO postgres;

--
-- Name: ReportedType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ReportedType" AS ENUM (
    'USER',
    'COMMENT',
    'QUEST',
    'GUILD_QUEST'
);


ALTER TYPE public."ReportedType" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: BugReport; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."BugReport" (
    id text NOT NULL,
    "userId" text NOT NULL,
    description text NOT NULL,
    status text DEFAULT 'new'::text NOT NULL,
    answer text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."BugReport" OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admins (
    id text NOT NULL,
    email text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.admins OWNER TO postgres;

--
-- Name: comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.comments (
    id text NOT NULL,
    user_id text NOT NULL,
    target_type public."CommentTargetType" NOT NULL,
    target_id text NOT NULL,
    content text NOT NULL,
    reported boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.comments OWNER TO postgres;

--
-- Name: events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.events (
    id text NOT NULL,
    title text NOT NULL,
    description text,
    icon text DEFAULT '≡ƒîì'::text NOT NULL,
    target_value double precision NOT NULL,
    current_value double precision DEFAULT 0 NOT NULL,
    unit text,
    start_date timestamp(3) without time zone NOT NULL,
    end_date timestamp(3) without time zone NOT NULL,
    reward_coins integer DEFAULT 0 NOT NULL,
    reward_item_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    reward_xp integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.events OWNER TO postgres;

--
-- Name: friends; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.friends (
    id text NOT NULL,
    user_id text NOT NULL,
    friend_id text NOT NULL,
    status public."FriendStatus" DEFAULT 'PENDING'::public."FriendStatus" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.friends OWNER TO postgres;

--
-- Name: guild_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guild_members (
    id text NOT NULL,
    guild_id text NOT NULL,
    user_id text NOT NULL,
    role public."GuildMemberRole" DEFAULT 'MEMBER'::public."GuildMemberRole" NOT NULL,
    contribution integer DEFAULT 0 NOT NULL,
    joined_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.guild_members OWNER TO postgres;

--
-- Name: guild_quests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guild_quests (
    id text NOT NULL,
    guild_id text NOT NULL,
    quest_id text NOT NULL,
    quest_type public."GuildQuestType" DEFAULT 'SUMMATIVE'::public."GuildQuestType" NOT NULL,
    status public."GuildQuestStatus" DEFAULT 'DRAFTING'::public."GuildQuestStatus" NOT NULL,
    votes integer DEFAULT 0 NOT NULL,
    current_value double precision DEFAULT 0 NOT NULL,
    start_date timestamp(3) without time zone,
    end_date timestamp(3) without time zone,
    reward_gems integer DEFAULT 0 NOT NULL,
    reward_item_id text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.guild_quests OWNER TO postgres;

--
-- Name: guilds; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.guilds (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    avatar text DEFAULT 'ΓÜö∩╕Å'::text NOT NULL,
    gems integer DEFAULT 0 NOT NULL,
    level integer DEFAULT 1 NOT NULL,
    xp integer DEFAULT 0 NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.guilds OWNER TO postgres;

--
-- Name: inventory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory (
    id text NOT NULL,
    owner_id text NOT NULL,
    owner_type public."OwnerType" NOT NULL,
    item_id text NOT NULL,
    active boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.inventory OWNER TO postgres;

--
-- Name: items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.items (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    price_coins integer DEFAULT 0 NOT NULL,
    price_gems integer DEFAULT 0 NOT NULL,
    type public."ItemType" DEFAULT 'BADGE'::public."ItemType" NOT NULL,
    icon text DEFAULT '≡ƒÅà'::text NOT NULL,
    file_url text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.items OWNER TO postgres;

--
-- Name: participations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.participations (
    id text NOT NULL,
    user_id text NOT NULL,
    event_id text NOT NULL,
    contribution double precision DEFAULT 0 NOT NULL,
    joined_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    rewards_claimed boolean DEFAULT false NOT NULL
);


ALTER TABLE public.participations OWNER TO postgres;

--
-- Name: personal_quests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.personal_quests (
    id text NOT NULL,
    user_id text NOT NULL,
    quest_id text NOT NULL,
    status public."PersonalQuestStatus" DEFAULT 'ACTIVE'::public."PersonalQuestStatus" NOT NULL,
    current_value double precision DEFAULT 0 NOT NULL,
    repetitive boolean DEFAULT false NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.personal_quests OWNER TO postgres;

--
-- Name: quest_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quest_logs (
    id text NOT NULL,
    user_id text NOT NULL,
    quest_id text NOT NULL,
    log_date date NOT NULL,
    current_value double precision DEFAULT 0 NOT NULL,
    rating public."QuestRating",
    note text,
    proof_url text,
    logged_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.quest_logs OWNER TO postgres;

--
-- Name: quests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quests (
    id text NOT NULL,
    creator_id text NOT NULL,
    title text NOT NULL,
    description text,
    tracking_type public."QuestTrackingType" DEFAULT 'NUMERIC'::public."QuestTrackingType" NOT NULL,
    target_value double precision DEFAULT 1 NOT NULL,
    unit text,
    proof_required public."QuestProofRequired" DEFAULT 'NONE'::public."QuestProofRequired" NOT NULL,
    frequency public."QuestFrequency" DEFAULT 'DAILY'::public."QuestFrequency" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    icon text DEFAULT 'ΓÜö∩╕Å'::text NOT NULL,
    type public."QuestType" DEFAULT 'PERSONAL'::public."QuestType" NOT NULL,
    category public."QuestCategory",
    difficulty public."QuestDifficulty",
    average_rating double precision DEFAULT 0 NOT NULL,
    rating_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public.quests OWNER TO postgres;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports (
    id text NOT NULL,
    user_id text NOT NULL,
    reported_type public."ReportedType" NOT NULL,
    reported_id text NOT NULL,
    content text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.reports OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text CONSTRAINT "User_id_not_null" NOT NULL,
    email text CONSTRAINT "User_email_not_null" NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP CONSTRAINT "User_createdAt_not_null" NOT NULL,
    updated_at timestamp(3) without time zone CONSTRAINT "User_updatedAt_not_null" NOT NULL,
    password text CONSTRAINT "User_password_not_null" NOT NULL,
    username text NOT NULL,
    bio text,
    avatar text DEFAULT '≡ƒºÖ'::text NOT NULL,
    coins integer DEFAULT 0 NOT NULL,
    xp integer DEFAULT 0 NOT NULL,
    level integer DEFAULT 1 NOT NULL,
    streak integer DEFAULT 0 NOT NULL,
    week_streak integer DEFAULT 0 NOT NULL,
    active_days integer DEFAULT 0 NOT NULL,
    quests_completed integer DEFAULT 0 NOT NULL,
    is_banned boolean DEFAULT false NOT NULL,
    banned_at timestamp(3) without time zone,
    banned_reason text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: BugReport; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."BugReport" (id, "userId", description, status, answer, "createdAt", "updatedAt") FROM stdin;
4f5b7cd1-d1ab-409a-a6fd-c3271c334c08	ad41d16f-3236-40de-b79e-34f9aa530287	So, there is bug, find it	completed	Go away	2026-06-09 20:22:01.18	2026-06-09 20:22:38.014
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: admins; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.admins (id, email, created_at, updated_at) FROM stdin;
2b0714f9-fe4c-4ec0-9d17-c50aa11918bb	admin@gmail.com	2026-06-09 21:34:36.566	2026-06-09 21:34:36.566
\.


--
-- Data for Name: comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.comments (id, user_id, target_type, target_id, content, reported, created_at, updated_at) FROM stdin;
a7078b7a-318d-4b2a-9248-e7c270674bd6	ad41d16f-3236-40de-b79e-34f9aa530287	EVENT	84dbcbee-608a-489d-914d-7532d408e88f	Hello there	f	2026-06-09 19:56:59.147	2026-06-09 19:56:59.147
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.events (id, title, description, icon, target_value, current_value, unit, start_date, end_date, reward_coins, reward_item_id, created_at, updated_at, reward_xp) FROM stdin;
84dbcbee-608a-489d-914d-7532d408e88f	Event created by admin	Try your best	≡ƒÄ╢	3000	100	times	2026-06-09 19:00:00	2026-06-16 19:00:00	100	\N	2026-06-09 19:56:35.851	2026-06-09 21:47:24.292	200
\.


--
-- Data for Name: friends; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.friends (id, user_id, friend_id, status, created_at, updated_at) FROM stdin;
3c43812c-0aed-4418-83f8-a376ef704dff	4cbfa12c-a4a4-45ea-9dd5-1aa0459a4ef5	b8d6ab64-7047-472d-a3b5-4a885427ccc9	ACCEPTED	2026-06-09 21:31:11.162	2026-06-09 21:31:16.277
1e48f601-e98d-4d12-b40d-49de12a7b161	12445674-6b63-4024-b993-f7eccd5e781f	b8d6ab64-7047-472d-a3b5-4a885427ccc9	PENDING	2026-06-09 21:34:05.443	2026-06-09 21:34:05.443
\.


--
-- Data for Name: guild_members; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.guild_members (id, guild_id, user_id, role, contribution, joined_at) FROM stdin;
506f4489-fc6b-445c-b152-b4acf960cf51	6e329596-2d95-4f05-aeee-6b2cb4e0540e	b8d6ab64-7047-472d-a3b5-4a885427ccc9	LEADER	26	2026-06-09 21:25:21.605
\.


--
-- Data for Name: guild_quests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: guilds; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.guilds (id, name, description, avatar, gems, level, xp, created_at, updated_at) FROM stdin;
6e329596-2d95-4f05-aeee-6b2cb4e0540e	Slayers	SLAY	ΓÜö∩╕Å	100	1	200	2026-06-09 21:25:21.605	2026-06-09 21:55:00.275
\.


--
-- Data for Name: inventory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventory (id, owner_id, owner_type, item_id, active, created_at) FROM stdin;
\.


--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: participations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.participations (id, user_id, event_id, contribution, joined_at, rewards_claimed) FROM stdin;
adc0bdf7-68e8-44dc-82a1-51e7049b3a93	b8d6ab64-7047-472d-a3b5-4a885427ccc9	84dbcbee-608a-489d-914d-7532d408e88f	100	2026-06-09 21:47:24.275	f
\.


--
-- Data for Name: personal_quests; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.personal_quests (id, user_id, quest_id, status, current_value, repetitive, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: quest_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.quest_logs (id, user_id, quest_id, log_date, current_value, rating, note, proof_url, logged_at, updated_at) FROM stdin;
\.


--
-- Data for Name: quests; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.reports (id, user_id, reported_type, reported_id, content, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: BugReport BugReport_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BugReport"
    ADD CONSTRAINT "BugReport_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);


--
-- Name: comments comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_pkey PRIMARY KEY (id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: friends friends_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.friends
    ADD CONSTRAINT friends_pkey PRIMARY KEY (id);


--
-- Name: guild_members guild_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_members
    ADD CONSTRAINT guild_members_pkey PRIMARY KEY (id);


--
-- Name: guild_quests guild_quests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_quests
    ADD CONSTRAINT guild_quests_pkey PRIMARY KEY (id);


--
-- Name: guilds guilds_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guilds
    ADD CONSTRAINT guilds_pkey PRIMARY KEY (id);


--
-- Name: inventory inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_pkey PRIMARY KEY (id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: participations participations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participations
    ADD CONSTRAINT participations_pkey PRIMARY KEY (id);


--
-- Name: personal_quests personal_quests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personal_quests
    ADD CONSTRAINT personal_quests_pkey PRIMARY KEY (id);


--
-- Name: quest_logs quest_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quest_logs
    ADD CONSTRAINT quest_logs_pkey PRIMARY KEY (id);


--
-- Name: quests quests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quests
    ADD CONSTRAINT quests_pkey PRIMARY KEY (id);


--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: admins_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX admins_email_key ON public.admins USING btree (email);


--
-- Name: comments_target_type_target_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comments_target_type_target_id_idx ON public.comments USING btree (target_type, target_id);


--
-- Name: comments_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX comments_user_id_idx ON public.comments USING btree (user_id);


--
-- Name: events_end_date_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX events_end_date_idx ON public.events USING btree (end_date);


--
-- Name: friends_friend_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX friends_friend_id_idx ON public.friends USING btree (friend_id);


--
-- Name: friends_user_id_friend_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX friends_user_id_friend_id_key ON public.friends USING btree (user_id, friend_id);


--
-- Name: guild_members_guild_id_user_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX guild_members_guild_id_user_id_key ON public.guild_members USING btree (guild_id, user_id);


--
-- Name: guild_members_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX guild_members_user_id_idx ON public.guild_members USING btree (user_id);


--
-- Name: guild_quests_guild_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX guild_quests_guild_id_idx ON public.guild_quests USING btree (guild_id);


--
-- Name: guild_quests_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX guild_quests_status_idx ON public.guild_quests USING btree (status);


--
-- Name: inventory_owner_id_owner_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_owner_id_owner_type_idx ON public.inventory USING btree (owner_id, owner_type);


--
-- Name: participations_event_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX participations_event_id_idx ON public.participations USING btree (event_id);


--
-- Name: participations_user_id_event_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX participations_user_id_event_id_key ON public.participations USING btree (user_id, event_id);


--
-- Name: personal_quests_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX personal_quests_user_id_idx ON public.personal_quests USING btree (user_id);


--
-- Name: personal_quests_user_id_quest_id_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX personal_quests_user_id_quest_id_key ON public.personal_quests USING btree (user_id, quest_id);


--
-- Name: quest_logs_logged_at_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX quest_logs_logged_at_idx ON public.quest_logs USING btree (logged_at);


--
-- Name: quest_logs_quest_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX quest_logs_quest_id_idx ON public.quest_logs USING btree (quest_id);


--
-- Name: quest_logs_quest_id_log_date_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX quest_logs_quest_id_log_date_key ON public.quest_logs USING btree (quest_id, log_date);


--
-- Name: quest_logs_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX quest_logs_user_id_idx ON public.quest_logs USING btree (user_id);


--
-- Name: quests_category_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX quests_category_idx ON public.quests USING btree (category);


--
-- Name: quests_creator_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX quests_creator_id_idx ON public.quests USING btree (creator_id);


--
-- Name: quests_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX quests_type_idx ON public.quests USING btree (type);


--
-- Name: reports_reported_type_reported_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reports_reported_type_reported_id_idx ON public.reports USING btree (reported_type, reported_id);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_username_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_username_key ON public.users USING btree (username);


--
-- Name: BugReport BugReport_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."BugReport"
    ADD CONSTRAINT "BugReport_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: comments comments_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.comments
    ADD CONSTRAINT comments_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: events events_reward_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.events
    ADD CONSTRAINT events_reward_item_id_fkey FOREIGN KEY (reward_item_id) REFERENCES public.items(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: friends friends_friend_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.friends
    ADD CONSTRAINT friends_friend_id_fkey FOREIGN KEY (friend_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: friends friends_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.friends
    ADD CONSTRAINT friends_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: guild_members guild_members_guild_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_members
    ADD CONSTRAINT guild_members_guild_id_fkey FOREIGN KEY (guild_id) REFERENCES public.guilds(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: guild_members guild_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_members
    ADD CONSTRAINT guild_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: guild_quests guild_quests_guild_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_quests
    ADD CONSTRAINT guild_quests_guild_id_fkey FOREIGN KEY (guild_id) REFERENCES public.guilds(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: guild_quests guild_quests_quest_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_quests
    ADD CONSTRAINT guild_quests_quest_id_fkey FOREIGN KEY (quest_id) REFERENCES public.quests(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: guild_quests guild_quests_reward_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.guild_quests
    ADD CONSTRAINT guild_quests_reward_item_id_fkey FOREIGN KEY (reward_item_id) REFERENCES public.items(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: inventory inventory_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory
    ADD CONSTRAINT inventory_item_id_fkey FOREIGN KEY (item_id) REFERENCES public.items(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: participations participations_event_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participations
    ADD CONSTRAINT participations_event_id_fkey FOREIGN KEY (event_id) REFERENCES public.events(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: participations participations_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.participations
    ADD CONSTRAINT participations_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: personal_quests personal_quests_quest_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personal_quests
    ADD CONSTRAINT personal_quests_quest_id_fkey FOREIGN KEY (quest_id) REFERENCES public.quests(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: personal_quests personal_quests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.personal_quests
    ADD CONSTRAINT personal_quests_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: quest_logs quest_logs_quest_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quest_logs
    ADD CONSTRAINT quest_logs_quest_id_fkey FOREIGN KEY (quest_id) REFERENCES public.quests(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: quest_logs quest_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quest_logs
    ADD CONSTRAINT quest_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: quests quests_creator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quests
    ADD CONSTRAINT quests_creator_id_fkey FOREIGN KEY (creator_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: reports reports_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict dwpyH1ZlRpTdoOnZ5dHCS3cAKTXYjz6ARCtvhRerqWE3FeU222745PkbEIAqquy

